@page "/"
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using System.Diagnostics

@inject AuthenticationStateProvider AuthenticationStateProvider


<AuthorizeView>
    <Authorized>
        <h2>Hello, @context.User.Identity.Name!</h2>
        <p>You can only see this content if you're authorized.</p>
        <button class="btn btn-primary" @onclick="SecureMethod">Authorized Only Button</button>
    </Authorized>
    <NotAuthorized>
        <div class="jumbotron mt-3">
            <h1>Contact Info</h1>
            <ul>
                <li>Email: <a target="_blank" href="mailto:paintedravendesign@gmail.com">paintedravendesign@gmail.com</a></li>
                <li>Phone: 360-477-2594</li>
                <li>Facebook: <a target="_blank" href="https://www.facebook.com/paintedravendesign/">https://www.facebook.com/paintedravendesign/</a></li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    
    
    private void SecureMethod()
    {

    }
}

@code {

    protected override async Task OnInitializedAsync() {

    }
}